@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	margin:0;
}

.center {
	text-align:center;
}

h1.headerh1 {
	font-size: 60px;
	text-align:center;
	color:white;
	opacity:.65;
}

.banner {
	width:100%;
	background:linear-gradient(
                     rgba(20,20,20, .65), 
                     rgba(20,20,20, .65)), url(new-york.jpg);
	padding:100px 0;
	background-position:bottom;
	background-size: cover;
	background-attachment: fixed;
}

a[class*="Button_style11"].white {
	color: white;
	background-color: transparent;
	border: 1px solid white;
}

a[class*="Button"].large {
	font-size: 18px; 
	letter-spacing: 1.2px;
	line-height:160px;
	padding : 21px 30px;
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

a[class*="Button_style11"].white:hover {
	background-color: white;
	color:transparent;
}

.mt-50 {
	margin-top:50px;
}