@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
	margin:0;
}

.center {
	text-align:center;
}

h1.headerh1 {
	font-size: 60px;
	text-align:center;
	color:white;
	opacity:.65;
}

h5.subtitle {
	font-size:20px;
	color: white;
}

.banner {
	width:100%;
	background:linear-gradient(
                     rgba(20,20,20, .65), 
                     rgba(20,20,20, .65)), url(new-york2.jpg);
	padding:100px 0;
	background-position:bottom;
	background-size: cover;
	background-attachment: fixed;
}

a[class*="Button_style11"].white {
	color: white;
	background-color: transparent;
	border: 1px solid white;
}

a[class*="Button"].large {
	font-size: 18px; 
	letter-spacing: 1.2px;
	line-height:160px;
	padding : 21px 30px;
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

a[class*="Button_style11"].white:hover {
	background-color: white;
	color:black;
}

.mt-50 {
	margin-top:50px;
}

.dg-tabs-top .resp-tabs-container, .dg-tabs-bottom .resp-tabs-container {
	padding:0;
	margin: 0 0 8px;
	clear:both;
	border:1px solid #e8e8e8;
}

.dg-tabs-top h2.resp-accordion, .dg-tabs-top .resp_container, .dg-tabs-bottom h2.resp-accordion, .dg-tabs-bottom .resp_container {
	display:none;
	
}

.dg-tabs-top ul.resp-tabs-list li.resp-tab-active, .dg-tabs-bottom ul.resp-tabs-list li.resp-tab-active {
	position:relative;
	z-index:1; 
	color:#fff;
}

.dg-tabs-top ul.resp-tabs-list, .dg-tabs-bottom ul.resp-tabs-list {
	margin:0;
	padding:0;
	display:inline-block;
	border-left: 1px solid #e8e8e8;
	vertical-align:bottom;
}

.dg-tabs-top ul.resp-tabs-list li, .dg-tabs-bottom ul.resp-tabs-list li {
	font-size:15px;
	margin:0;
	list-style:none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
	float:left;
	position:relative;
	z-index:1;
	padding:8px 15px;
	white-space:nowrap;
	cursor:pointer;
	transition: background-color ease-in 200ms, color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms, color ease-in 200ms;
	-webkit-transition: background-color ease-in 200ms, color ease-in 200ms;
	-o-transition: background-color ease-in 200ms, color ease-in 200ms;
	-ms-transition: background-color ease-in 200ms, color ease-in 200ms;
	color: #424242;
}

.dg-tabs-top01 ul.resp-tabs-list {
	border:none;
}

.dg-tabs-top01 ul.resp-tabs-list li {
	border:none;
	padding: 10px 20px;
	border-bottom: 1px solid transparent;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms;
	-o-transition: all ease-in 200ms;
	-webkit-transition: all ease-in 200ms;
	-ms-transition: all ease-in 200ms;
}

.dg-tabs-top01 .resp-tabs-container {
	border:none;
	border-top:1px solid #e0dede;
	}

.dg-tabs-top01 ul.resp-tabs-list li:hover, .dg-tabs-top01 ul.resp-tabs-list li.resp-tab-active{
	color: #424242;
	border-bottom-color: #20a3f0;
	background:none;
}

.dg-tabs-top01 ul.resp-tabs-list li:hover, .dg-tabs-top01 ul.resp-tabs-list li.resp-tab-active, .dg-tabs-top09 ul.resp-tabs-list li.resp-tab-active, .dg-tabs-bottom03 ul.resp-tabs-list li.resp-tab-active span {
	border-bottom-color: #20a3f0;
}

[class*="dg-tabs-"] h2.resp-tab-active, [class*="dg-tabs-"] h2.resp-tab-active:hover {
	background-color: #20a3f0;
}