@charset "utf-8";
/* CSS Document */

body {
	overflow: hidden;
}

h1.headerh1 {
	font-size: 60px;
	text-align:center;
	color:white;
}

.banner {
	width:100%;
	background:linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), url(new-york.jpg);
	padding:100px;
	background-position:center center;
	background-size: cover;
	background-attachment: fixed;
}