@charset "utf-8";
/* CSS Document */

p {
	font-size:16px;
	color: white;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-30 {
	padding-bottom:30px;
}

.pb-50 {
	padding-bottom:50px;
}

.pt-30 {
	padding-top:30px;
}

.pt-40 {
	padding-top:40px;
}

.delay1s {
	-webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay1-5s {
	-webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.delay2s {
	-webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.delay2-5s {
	-webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.delay3s {
	-webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.delay3-5s {
	-webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.delay4s {
	-webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.delay4-5s {
	-webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.delay5s {
	-webkit-animation-delay: 5s;
  animation-delay: 5s;
}

body {
	margin:0;
	overflow-x:hidden;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color:transparent !important;
}

.nav>li>a:hover {
	border-color: transparent !important;
	color: #3770A4;
}

/*h1, h2, h3, h4, h5, h6 {
	font-family:myFirstFont !important;
}

@font-face {
    font-family: myFirstFont;
    src: url(sun.otf);
}*/

.center {
	text-align:center;
}

h1.headerh1 {
	font-size: 70px;
	line-height:74px;
	text-align:center;
	color:white;
}

.SectionStyles3 h2 {
	color: white;
	font-size: 50px;
	line-height:54px;

}

h5.subtitle {
	font-size:20px;
	color: white;
}

.banner {
	width:100%;
	background:linear-gradient(
                     rgba(20,20,20, .65), 
                     rgba(20,20,20, .65)), url(new-york2.jpg);
	padding:200px 0;
	background-position:bottom;
	background-size: cover;
	background-attachment: fixed;
}

a[class*="Button_style11"].white {
	color: white;
	background-color: transparent;
	border: 3px solid white;
}

a[class*="Button_style11"].blue {
	color: #3770A4;
	background-color: transparent;
	border: 3px solid #3770A4;
}

a[class*="Button"].large {
	font-size: 18px; 
	letter-spacing: 1.2px;
	line-height:160px;
	padding : 21px 30px;
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

a[class*="Button"].medium {
	font-size: 14px; 
	letter-spacing: 1.2px;
	padding : 7px 20px;
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

a[class*="Button_style11"].white:hover, a[class*="Button_style11"].blue:hover {
	background-color: #3770A4;
	color:white;
	border: 1px solid #3770A4;
}

.mt-50 {
	margin-top:50px;
}

.dg-tabs-top .resp-tabs-container, .dg-tabs-bottom .resp-tabs-container {
	padding:0;
	margin: 0 0 8px;
	clear:both;
	border:1px solid #e8e8e8;
}

.dg-tabs-top h2.resp-accordion, .dg-tabs-top .resp_container, .dg-tabs-bottom h2.resp-accordion, .dg-tabs-bottom .resp_container {
	display:none;
	
}

.dg-tabs-top ul.resp-tabs-list li.resp-tab-active, .dg-tabs-bottom ul.resp-tabs-list li.resp-tab-active {
	position:relative;
	z-index:1; 
	color:#fff;
}

.dg-tabs-top ul.resp-tabs-list, .dg-tabs-bottom ul.resp-tabs-list {
	margin:0;
	padding:0;
	display:inline-block;
	border-left: 1px solid #e8e8e8;
	vertical-align:bottom;
}

.dg-tabs-top ul.resp-tabs-list li, .dg-tabs-bottom ul.resp-tabs-list li {
	font-size:15px;
	margin:0;
	list-style:none;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	margin-bottom: -1px;
	float:left;
	position:relative;
	z-index:1;
	padding:8px 15px;
	white-space:nowrap;
	cursor:pointer;
	transition: background-color ease-in 200ms, color ease-in 200ms;
	-moz-transition: background-color ease-in 200ms, color ease-in 200ms;
	-webkit-transition: background-color ease-in 200ms, color ease-in 200ms;
	-o-transition: background-color ease-in 200ms, color ease-in 200ms;
	-ms-transition: background-color ease-in 200ms, color ease-in 200ms;
	color: #424242;
}

.dg-tabs-top01 ul.resp-tabs-list {
	border:none;
}

.dg-tabs-top01 ul.resp-tabs-list li {
	border:none;
	padding: 10px 20px;
	border-bottom: 1px solid transparent;
	transition: all ease-in 200ms;
	-moz-transition: all ease-in 200ms;
	-o-transition: all ease-in 200ms;
	-webkit-transition: all ease-in 200ms;
	-ms-transition: all ease-in 200ms;
}

.dg-tabs-top01 .resp-tabs-container {
	border:none;
	border-top:1px solid #e0dede;
	}

.dg-tabs-top01 ul.resp-tabs-list li:hover, .dg-tabs-top01 ul.resp-tabs-list li.resp-tab-active{
	color: #424242;
	border-bottom-color: #3770A4;
	background:none;
}

.dg-tabs-top01 ul.resp-tabs-list li:hover, .dg-tabs-top01 ul.resp-tabs-list li.resp-tab-active, .dg-tabs-top09 ul.resp-tabs-list li.resp-tab-active, .dg-tabs-bottom03 ul.resp-tabs-list li.resp-tab-active span {
	border-bottom-color: #3770A4;
}

[class*="dg-tabs-"] h2.resp-tab-active, [class*="dg-tabs-"] h2.resp-tab-active:hover {
	background-color: #3770A4;
}

.nav-tabs>li.active {
	border-bottom-color: #3770A4;
}

.SectionStyles3_2 {
	background-color: #3770A4;
	padding:60px 60px 80px 60px;
}

.imgbg {
	background-image:url(about.jpg);
	background-size:cover;
	background-position:right;
}

.fa-square-o {
	font-size:5em;
}

.fa-camera-retro, .fa-css3, .fa-html5, .fa-github, .fa-check, .fa-lock, .fa-code, .fa-wordpress {
	font-size:2em;

}

.fa-stack {
	width:5em;
	height:5em;
	line-height:4.7em;
}


.SectionStyles3 span.ptext {
	font-size: 26px;
	line-height:30px;
}

p.bio {
	font-size: 16px; 
	line-height:20px;
	padding:40px 100px 40px 100px;
}

h4.skillsh4 {
	font-size: 40px;
	line-height:44px;
	color: white;
}

.resp-tabs-container p {
	font-size:16px;
	color:black;
}

.resp-tabs-container h3 {
	color: black;
	font-size: 26px;
	line-height:30px;
}

.footer {
	background-color: #363636;
	color:#b7b7b7;
	padding:30px;
}

.footer p {
	color: #b7b7b7;
}

.footer h4 {
	color:#b7b7b7;
	font-size:20px;
}

ul.gunfreezone {
	list-style-type: none;
}

ul.gunfreezone li {
	font-size: 16px;
	line-height:20px;
}

ul.gunfreezone li a {
	color: #b7b7b7;
	text-decoration:none;
}

ul.gunfreezone li a:visited, ul.gunfreezone li a:hover, ul.gunfreezone li a:active {
	text-decoration:none;
}

ul.gunfreezone li a:hover {
	color: #3770a4;
}
